* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(hwb(0 0% 100% / 0.536), rgba(0, 0, 0, 0.707)),url('.\imagens\Foto_Fluxo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: black;
    display: flexbox;
    justify-content: flex-start;
    align-items: center;
    z-index: 99;
}

.logo{
    width: 40px;
    height: 40px;
    margin: 2px;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: #fff;
    border:#000;
    border-radius: 50%;
}

.spotfluxo{
    font-size: large;
    color: #fff;
    display: inline-block
}

.wrapper{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: #000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box{
    width: 100%;
    height: 100%;
    /*min-height: 100vh;*/
    padding: 5px 60px;
}

.form-box h2{
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    margin: 10px;
}

.login-plataforma{
    padding: 3px;
    margin: 5px;
    display: flexbox;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 20px;
    box-sizing: border-box;
}

.google-login{
    width: 100%;
    padding: 4px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 3px;
    justify-content: center;
    font-size: small;
}

.facebook-login{
    width: 100%;
    padding: 4px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 3px;
    justify-content: center;
    font-size: small;
}

.apple-login{
    width: 100%;
    padding: 4px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 3px;
    justify-content: center;
    font-size: small;
}

.telefone{
    width: 100%;
    padding: 4px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 3px;
    justify-content: center;
    font-size: small;
}

.linha{
    border-bottom: 2px solid gray;
    margin: 5px;
}

.platform-icon{
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px;
}

.input-box label{
    position: relative;
    color: #fff;
    font-size: medium;
    font-weight: 500;
    pointer-events: none;
    display: block;
    margin-bottom: 5px;
    
}

.input-box > input::placeholder{
    color: #f0fff094;
}

.input-box input[type="email"], 
.input-box input[type= "password"]{
    width: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px;
    background: #000;
    color: #f0ffffde;
    font-size: 12pt;
    outline: auto;
    box-sizing: border-box;
    margin-bottom: 10px ;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    background: #000;
    border: 1px solid #fff;
    border-radius: 10px;

}

.password-container input[type="password"] {
    padding-right: 40px; 
    background-color: #000;
  }

/*#toggle-password {
    margin-left: 10px;
    cursor: pointer;
}*/

.password-container button {
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    width: 30px; 
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye-closed,
.eye-open {
  display: block;
  height: 20px; /* Ajuste o valor conforme necessário */
  width: 20px; /* Ajuste o valor conforme necessário */
  object-fit: contain;
}

.eye-closed {
  display: none;
}

.password-container button:focus .eye-closed {
  display: block;
}

.password-container button:focus .eye-open {
  display: none;
}

.remember{

}

.btn{
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    background: #00ff88;
    cursor: pointer;
    justify-content: center;
}

.forgot a {
    justify-content: center;
    vertical-align: center;
    color: #fff;
    display: flex;
    margin: 10px; 
    font-size: smaller;
    align-items: center;
    margin-bottom: 5px;
}

.message, .login-register a {
    color: #fff;
    display: inline;
    justify-content: center;
    margin-right: 0; 
    font-size: smaller;
    align-items: center;
    margin: 10px;
}