body{
    margin: 0;
    padding: 0;
        
}
.mainlogin {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(hwb(0 0% 100% / 0.859), rgba(0, 0, 0, 0.835)), url('Foto_Fluxo.jpg');
    background-position: center;
    background-size: cover;
    display: flexbox;
}
    

.partedecima{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: black;
}

.partedecima > h1{
    color: aliceblue;
    
}
.partedebaixo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.partedebaixo > h1{
    color: aliceblue;
    font-weight:800;
    margin: 0;

}

.textfield{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textfield > input{
    width: 100%;
    
}
